
server {
    listen *:80;                # Listen for incoming connections from any interface on port 80
    server_name "";             # Don't worry if "Host" HTTP Header is empty or not set
    {% if nginx_welcome_page_enabled|bool -%}
        root /usr/share/nginx/html; # serve static files from here
    {% endif -%}
}